body{
    margin: 0;
}

.cont {
    width: 100vw; /* view width*/
    height: 100vh; /* view height*/
    background-image: linear-gradient(black, blueviolet ); 
}

#center{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Degrade na fonte hello world*/
.gradient {
    background-image: linear-gradient( to bottom, #fa67bf, #ff4ab7, #cc00b1, #8700a8, #7e00e6, #4400ff);
    background-clip: text;
    -webkit-background-clip: text; /*Alguns navegadores podem não reconhecer, então para evitar dor de cabeça...*/
    -webkit-text-fill-color: transparent;

    color: black;
    text-align: center;
    font-size: 45px;
    padding: 0;
    margin: 0 auto;
    margin-top: 0px;
}

.h2especial {
    color: white;
    font-size: 60px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 0px;
}

.h3especial{
    color: white;
    font-size: 20px;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
}

#aLinks{
    color: white;
    size: 30px;
    text-decoration:none;
}

#aLinks:visited {
    text-decoration:none;
}
    
#aLinks:hover {
    text-decoration:underline;
    text-decoration:none;
}

button {
    width: 234px;
    align-self: center;
}

#footer a{
    color: white;
    margin: 0 60px;
    font-size: 40px;
}

@media only screen and (max-height: 600px) {
    .gradient, .h2especial, .h3especial, #footer a, button{
        font-size: 20px !important;
        margin: 0 40px !important;
    }
}

@media only screen and (max-height: 350px) {
    .gradient, .h2especial, .h3especial, #footer a, button{
        font-size: 10px !important;
        padding: 5px !important;
        margin: 0 30px !important;
    }
}

@media only screen and (max-height: 175px) {
    .gradient, .h2especial, .h3especial, #footer a, button{
        font-size: 5px !important;
        padding: 5px !important;
        margin: 0 30px !important;
    }
}
