body{
    margin: 0;
    padding: 0;
}

.background-gradiente {
    background-image: linear-gradient(blueviolet, black ); 
}

@media only screen and (max-width: 992px) {
    #maps{
        width: 500px !important;
    }
}

@media only screen and (max-width: 600px) {
    #maps{
        width: 250px !important;
    }
}

@media only screen and (max-width: 1333px) {
    .imgHabilidades img{
        height: 200px;
        width: 200px;
    }
}

@media only screen and (max-width: 992px) {
    .imgHabilidades img{
        height: auto;
        width: auto;    
    }    
}

@media only screen and (min-height: 2200px) {
    .background-gradiente {
        height: 150vh;
        background-image: linear-gradient(blueviolet, black ); 
    }
}

.gradient {
    background-image: linear-gradient( to bottom, orange, yellow);
    background-clip: text;
    -webkit-background-clip: text; /*Alguns navegadores podem não reconhecer, então para evitar dor de cabeça...*/
    -webkit-text-fill-color: transparent;

    color: black;
    text-align: center;
    font-size: 45px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 0px;
    clear: both;
}

p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    text-align: justify;
}

#referencia{
    font-size: 25px;
}

#referencia_Alan {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    font-style: italic;
}

#imgMe {
    float: left;
}

#imgMe img{
    width: 175px;
    height: 175px;
    border-radius: 100px;
    padding: 10px;
    margin-right: 30px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

.imgHabilidades img{
    border-radius: 100px;
    padding: 10px;
    margin-right: 30px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

#a{
    color: white;
    text-decoration:none;
}

#a:visited {
    text-decoration:none;
}
    
#a:hover {
    text-decoration:underline;
    text-decoration:none;
}

#maps{
    margin: 0 auto; 
    width: 750px;
    height: 250px;
    text-align: center;
    border: none;
    display: flex;
}

footer{
    padding: 10px;
    bottom: 0; 
    margin: 0;
    overflow: hidden;
    font-size: 40px;
}

footer a {
    color:white;
    margin: 0 60px;
    text-align: center !important;
    text-decoration:none;
}